<% if(title){ %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<%- messages() %>

<% if(errors) { %>
    <ul class="error">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%    }); %>
    </ul>
<% } %>

<h2>You're logged in!</h2>