<% if(title){ %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%# message %>

<form action="" method="post" class="wf">
    <label>Email:<input type="email"></label>
    <label>Password:<input type="text"></label>
    <button type="submit">LOGIN</button>
    <p>No Account? <a href="account/signup">Sign Up</a></p>
</form>