<% if(title){ %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%# message %>

<form action="" method="get" class="wf">
    <label>Email:<input type="email" name="account_email" required></label>
    <label>Password: <input type="password" name="account_password" id="pword" required></label> 
    <button type="submit">LOGIN</button>
    <p>No Account? <a href="/account/register">Sign Up</a></p>
</form>