:root {
  --primary-color: #3998bb;
  --background-color-1: #fff;
  --sec-color: #292937;
  background-image: url(/images/site/checkerboard.jpg);
  background-repeat: repeat;
}

/* ========== Change Box Model ==========*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  border-radius: .5rem;
  border: .35em var(--primary-color) solid;
  background-color: var(--background-color-1);
  max-width: 1000px;
  margin: 1em auto;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#top-header {
  display: flex;
}

#tools {
  position: absolute;
  right: 1em;
  top: 1.5em;
}

.siteName a {
  font-size: 2.5rem;
  color: var(--sec-color);
}

a {
  text-decoration: none;
}

nav {
  list-style-type: none;
  display: flex;
  background-color: var(--sec-color);
  padding: 0;
  width: 100%;
}

nav ul {
  display: flex;
}
nav ul li{
  list-style-type: none;
  padding: 0;
}

nav a {
  color: #fff;
  padding: 1em;
  margin: auto;
}

nav a:hover {
  color: var(--sec-color);
  background-color: #fff;
}

h1, h2, h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  margin: auto;
  padding: 0;
  width: 80%;
  height: auto;
}

.calltoaction {
  position: absolute;
  left: 1em;
  bottom: 2em;
  color: var(--primary-color);
  background-color: rgb(255, 255, 255, 60%);
  font-size: 1.1rem;
  text-align: left;
  padding: 1em;
}

.calltoaction p {
  padding: 0;
  margin: 0;
}

.calltoaction img {
 display: block;
 padding: .5em;
}

.cards {
  display: flex;
  flex-wrap: wrap-reverse;
}

.card {
  width: 50%;
  min-width: 300px;
  margin: auto;
}

.card li {
  margin: 1em;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrades h3 {
  grid-column: 1/3;
}

figure {
  display: block;
  text-align: center;
  width: auto;
  height: 100px;
}

figure img {
  background-color: var(--primary-color);
}

.notice {
  color: blue;
}

.error {
  color: red;
}

/* ========== CLASSIFICATION STYLING ==========*/

#inv-display {
  display: flex;
  flex-wrap: wrap;
}

#inv-display li {
  list-style-type: none;
  padding: .5em;
  border: 1px #ddd solid;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  max-width: 300px;
}

#inv-display li hr {
  height: 3px;
  background-color: #292937;
}

/* ========== DETAIL VIEW STYLING ==========*/
.detailview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.detailview img {
  width: 100%;
  margin: auto 0;
}

.details ul li:nth-child(odd) {
  background-color: #eee;
}

.details li {
  list-style-type: none;
  font-size: large;
  padding: .5em;
}

/* ========== LOGIN/REGISTER STYLING ==========*/
.wf {
  background-color: var(--primary-color);
  border: 1px #292937 solid;
  border-radius: .5em;
  padding: .3em;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.wf input, 
.wf select, 
.wf textarea {
  /* appearance: none; */
  display: block;
  margin: auto auto 1em;
  height: 2.4rem;
  border: 2px #70707d solid;
  border-radius: .3rem;
  background-color: #eee;
  color: #555;
  width: 95%;
  max-width: 400px;
  padding-bottom: .3em;
}

.wf div {
  text-align: left;
  padding: 1em;
  font-size: small;
  font-weight: 700;
}

.register input:required:invalid, .register input:focus:invalid {
  border-left: .3em solid red;
}

.register input:required:valid {
  border-left: .3em solid green;
}

.wf button {
  border: none;
  padding: .5em 1em;
  border-radius: .5em;
  font-weight: 700;
  background-image: linear-gradient(#fff, #aaa);
}

.wf button:hover {
  text-shadow:1px 3px 10px #fff;
}

.new-vehicle {
  text-align: left;
}

.new-vehicle label, button {
  margin-left: 1em;
}

#invDisplay {
  margin: .5em;
  padding-bottom: .5em;
  border: 1px #ddd solid;
  border-collapse: collapse;
}

#invDisplay tr:nth-child(even) {
  background-color: #ddd;
  border: none;
}

#invDisplay td {
  padding: .5em;
}

.classList {
  margin: auto 1em;
  height: 2.4rem;
  border: 2px #70707d solid;
  border-radius: .3rem;
  background-color: #eee;
}

@media screen and (max-width: 700px) {
  .calltoaction {
    font-size: .8rem;
    padding: .5em;
  }
  .calltoaction img {
    width: 100px;
  }

  .calltoaction h2 {
    padding-top: 0;
    margin-top: 0;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav ul li {
    margin: .5em;
  }

  .detailview {
    grid-template-columns: 1fr;
  }
}